<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="{block name='Keywords'}{$site.keywords}{/block}" />
    <meta name="description" content="{block name='description'}{$site.description}{/block}" />

    <title>{block name='title'}南通富泰纸业有限公司{/block}</title>
    <link href="__STATIC__/index/css/base.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/index/css/main.css" rel="stylesheet" type="text/css" />

    {block name='css'}
    {/block}
</head>
<body>
    <div class="header">
        <div class="contentbox">
            <div class="hd_txt">欢迎光临南通富泰纸业有限公司！</div>
            <div class="hd_right">
                <a href="#"><img src="__STATIC__/index/images/topicon1.png" />网站首页</a>
                <a href="#"><img src="__STATIC__/index/images/topicon2.png" />关于我们</a>
                <a href="#" onclick="javascript:addFavorite2()"><img src="__STATIC__/index/images/topicon3.png" />加入收藏</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="menulogo">
        <div class="contentbox">
            <div class="logo"><a href="#"><img src="__STATIC__/index/images/logo.png" /></a></div>
            <div class="nav">
                <ul class="cl">
                    <li><a href="/index" class='{if condition="request()->url() == '/index'"}cur{/if}'>网站首页</a></li>
                    {volist name='type' id='vo'}
                        {if condition='$vo.sel == 1'}
                        <li><a href="{:url('Index/about',['tid'=>$vo.id ])}" class='{if condition="request()->param('tid') == $vo.id"}cur{/if}'>{$vo.title}</a></li>
                        {elseif condition='$vo.sel == 2'/}
                        <li><a href="{:url('Index/imglist',['tid'=>$vo.id ])}" class='{if condition="request()->param('tid') == $vo.id"}cur{/if}'>{$vo.title}</a></li>
                        {elseif condition='$vo.sel == 3'}
                        <li><a href="{:url('Index/_list',['tid'=>$vo.id ])}" class='{if condition="request()->param('tid') == $vo.id"}cur{/if}'>{$vo.title}</a></li>
                        {/if}
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <div class="flexslider">
        <ul class="slides">
            {volist name='banner' id='vo'}
            <li style="">
                <img src="{$vo.images}" alt="{$vo.title}" title="{$vo.title}">
            </li>
            {/volist}
            <!--<li style="background:url(__STATIC__/index/images/img2.jpg) 50% 0 no-repeat;"></li>-->
        </ul>
    </div>

    {block name='body'}

    {/block}
    <div class="footer">
        <div class="ftmenu">
            {volist name='type' id='vo'}
                {if condition='$vo.parentid == 0'}
                    <a href="/about">{$vo.title}</a>
                {/if}
            {/volist}
        </div>
        <div class="ft_txt">
            地址：{$company.address}   电话：{$company.phone}   E-mail:{$company.email}<br />版权所有：{$company.title} - {$site.footer}
        </div>
    </div>
</body>
<script type="text/javascript" src="__STATIC__/index/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript"  src="__STATIC__/index/js/nav.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $('.flexslider').flexslider({
            directionNav: true,
            pauseOnAction: false
        });
        //导航选定
        var type = "{:request()->url()}";

    });
    function addFavorite2() {
        var url = window.location;
        var title = document.title;
        var ua = navigator.userAgent.toLowerCase();
        if (ua.indexOf("360se") > -1) {
            alert("由于360浏览器功能限制，请按 Ctrl+D 手动收藏！");
        }
        else if (ua.indexOf("msie 8") > -1) {
            window.external.AddToFavoritesBar(url, title); //IE8
        }
        else if (document.all) {
            try{
                window.external.addFavorite(url, title);
            }catch(e){
                alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
            }
        }
        else if (window.sidebar) {
            window.sidebar.addPanel(title, url, "");
        }
        else {
            alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
        }
    }
</script>
{block name='js'}{/block}
</html>