{extend name='common'}
{block name='title'}{$data.title}{/block}
{block name='Keywords'}{$data.keywords}{/block}
{block name='description'}{$data.description}{/block}
{block name='body'}
<div class="bg_b">
    <div class="pst_info" >
        您当前的位置：<a href="/">首页</a>&gt; <a href="">文章详情</a>
    </div>
</div>
<div class="nymain">
    <div class="scd cl">
        <div class="scd_l">
            <div class="l_name">联系我们</div>
            <div class="tel_fs">
                <ul>
                    <li>联系电话：<u>{$company.phone}</u></li>
                    <li>联系QQ：<span>{$company.qq}</span></li>
                    <li>联系人：<span>{$company.contact}</span></li>
                    <li>公司地址：<span>{$company.address}</span></li>
                </ul>
            </div>
        </div>
        <div class="scd_r">
            <div class="r_top"><span>{$data.title}</span></div>
            <div class="scd_m">
                <div class="cangbao_img">
                    <div class="cangbao_img_left">

                    </div>
                    <div class="cangbao_img_right"></div>
                </div>
                <h1 class="infotit">{$data.title}</h1>
                <div class="conxx"><span>浏览人数：<em>{$data.num}</em></span>|<span>上传时间：<em>{:date('Y-m-d H:i:s',$data.pubtime)}</em></span></div>
                <div class="desccon">
                    {$data.content}
                </div>
            </div>

            <div>上一篇：<a href="{:url('Index/info',['aid'=>$jian.aid])}">{$jian.title}</a></div>
            <div>下一篇：<a href="{:url('Index/info',['aid'=>$push.aid])}">{$push.title}</a></div>

        </div>
    </div>
</div>

{/block}